# ======================
# dependencies
# ======================
node_modules/

# ======================
# env
# ======================
.env
.env.*

# ======================
# build
# ======================
build/

# ======================
# logs
# ======================
*.log

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# editor
# ======================
.vscode/
.idea/